body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #f1f2f6;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  width: 900px;
  height: 600px;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: #2f3542;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navbar {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #dfe4ea;
}

.navbar-title {
  font-size: 2rem;
  position: relative;
  top: 20px;
  left: 30px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
}

.item {
  color: white;
  font-size: 1.5rem;
  position: relative;
  top: 25px;
  left: 30px;
}

.card-container {
  position: relative;
  top: 50px;
  left: 20px;
  right: 20px;
  display: grid;
  width: 600px;
  height: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
}

.card-title {
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card-text {
  font-size: 1.5rem;
  margin-left: 15px;
}
